import(package='flutter_platform_widgets/flutter_platform_widgets.dart')
import(package='scoped_model/scoped_model.dart')
import(package='tester/app-model.dart')

home-page(flutter-view model='AppModel')
	material-app(title='Flutter Demo!')
		scoped(as='home' model='AppModel')
			scaffold
				app-bar(as='appBar')
					#title(as='title') Welcome
				center(as='body')
					column
						.message You have pushed:
						.counter ${model.counter} times
						anim-controller(duration=200 auto-start=true :on-create='model.startAnim')
							function(as='builder')


						//- animated-builder
						//- 	anim-controller(as='animation' duration=200 auto-start=true :on-create='model.startAnim')
								//- animation(as='animation' :tween='Tween(begin: 0.0, end: 300.0)')

				floating-action-button(
					as='floatingActionButton'
					tooltip='Increment'
					@on-pressed='model.incrementCounter()')
					icon(:value='Icons.add')
